<div class="jumbotron animated slideInUp">

    <!-- Intro -->
    <h1 class = "center flyxerTitle">Install</h1>


    <h3 class = "center tagLine">The Following steps will get you up and running with Flyxer!</h3>

    <p>
        <ol>
            <li>
                Download a build from the
                <a href = "https://github.com/julianpoy/HackTech2016/releases/latest">
                    Latest Releases
                </a>
                 on the Flyxer Github Repository
            </li>

            <li>
                Extract the contents of the .zip into a folder of your liking.
                If you have a Mac, place the Flyxer.app into your applications folder.
            </li>

            <li>
                Run the file named "app", from the directory you extracted to.
                If you have a mac, run Flyxer from your applications folder.
            </li>

            <li>
                Enjoy the software, and play your music loud!
            </li>

        </ol>

        P.S if you dont have your own songs,
        don't worry, a couple of demo tracks are included
        under the demo tracks folder.

    </p>

    <hr />

    <!-- Intro -->
    <h1 class = "center flyxerTitle">About</h1>


    <h3 class = "center tagLine">The Team</h3>

    <p>
        Flyxer was developed by
        <a href = "https://aaronthedev.com/#/">Aaron Turner</a>,
        <a href = "https://www.kondeo.com/#/">Julian Poyorouw,</a>
        and <a href = "http://www.alexisluter.com/">Alexis Luter</a>

        And is publicly available on
        <a href = "https://github.com/julianpoy/HackTech2016">Github</a>
    </p>
</div>
